<div id="empty" class="empty" <%= isEmpty ? '' : 'hidden' %>>
    <h4 id="initialEmpty"><%= page === 'online' ? strings.emptyPlayersContent : strings.emptyMatchingContent %></h4>
    <br>
    <img src="/static/img/icons/elin-sleep.png" width="150px" height="150px">
</div>