<div id="empty" class="empty" <%= isEmpty ? '' : 'hidden' %>>
	<%
		const filteredEmptyText = strings.emptyFilteredContent;
		const cleatFilterText = strings.emptyFilteredClearContent;
		let initialEmptyText = '';
		switch (page) {
			case 'online':
				initialEmptyText = strings.emptyPlayersContent
				break
			case 'lfg':
				initialEmptyText = strings.emptyLfgContent
				break
			default:
				initialEmptyText = strings.emptyMatchingContent
				break
		}
	%>
	<div id="initialEmpty">
		<h4><%= initialEmptyText %></h4>
		<br>
		<img src="/static/img/bgs/empty.png" draggable="false">
	</div>
	<div id="filteredEmpty" class="filteredEmpty" hidden>
		<h4><%= strings.emptyFilteredContent %></h4>
		<img src="/static/img/bgs/empty-filters.png" draggable="false">
		<br>
		<button class="modal-button" id="clearEmptyButton">
			<span class="lang-title"><%= strings.emptyFilteredClearContent %></span>
		</button>
	</div>
</div>