    <header>
        <span id="header-logo"><img src="" alt="" height="20px" width="20px"></span>
        <span class="header-page-link"><a href="/dungeons">Dungeons</a></span>
        <span class="header-page-link"><a href="/battlegrounds">Battlegrounds</a></span>
        <span class="header-page-link"><a href="/online">Online</a></span>
        <span><button id="toggleLang" class="toggleLang" value="<%= lang %>"><img src="" height="20px" width="20px"></button></span>
    </header>