:root {
    --font-color-primary: black;
    --font-color-secondary: rgba(0, 0, 0, 0.5);

    --scrollbar-color: initial;
    --background:  rgb(184, 194, 224);
    --background-disabled:  rgb(184, 194, 224);
    --bg-backdrop-filter: none;
    
    --navbar-bg-color: rgb(131, 145, 187);
    --header-font-weight: 550;
    --header-logo-opacity: 1;
    --header-logo-padding: 0.325rem;
    --header-logo-content: url(/static/img/icons/icon-d.svg);
    --header-btn-hov-bg-color: rgba(255, 255, 255, 0.3);
    --header-btn-img-filter: invert(0.9);
    --header-ul-border-color:rgba(0, 0, 0, 0.1);
    --header-shadow-color: rgba(0, 0, 0, 0.075);
    --header-style-btn-content: url(/static/img/icons/theme_moon.svg);

    --menu-bg-color: rgb(139, 152, 193);
    --menu-child-bg-color: rgb(224, 227, 235);
    --menu-input-plh-color: rgb(125, 133, 151);
    --menu-btn-hov-bg-color: rgb(198, 204, 219);
    --menu-btn-act-bg-color: rgb(173, 180, 197);
    --menu-btn-img-filter: invert(1) opacity(0.8);
    --menu-chk-bg-color: white;
    --menu-search-bg-img: url(/static/img/icons/search-d.svg);
    --menu-sort-bg-img: url(/static/img/icons/sort-d.svg);

    --dungeon-lvl-bg-color: rgba(224, 227, 235, 0.6);
    --dungeon-players-bg-color: rgba(224, 227, 235, 0.6);
    --dungeon-dtl-bg: rgb(139, 152, 193);
    --dungeon-sum-bg: initial;
    --dungeon-role-tank-content: url(/static/img/icons/tank-c.png);
    --dungeon-role-tank-margin: 0 -0.1em 0 -0.2em;
    --dungeon-role-dmg-content: url(/static/img/icons/dmg-c.png);
    --dungeon-role-heal-content: url(/static/img/icons/heal-c.png);

    --party-sum-span-border-color: rgba(0, 0, 0, 0.2);
    --party-dtl-content-bg-color: rgba(255, 255, 255, 0.3);
    --party-del-color: rgba(0, 0, 0, 0.2);
    --party-leader-content: url(/static/img/icons/leader-c.png);

    --players-tbl-th-bg-color: rgb(139, 152, 193);
    --players-tbl-tr1-bg-color: rgb(193 202 234);
    --players-tbl-tr2-bg-color: rgb(163, 175, 220);
    --players-tbl-guild-background-color: rgb(131, 145, 187);

    --lang-title:rgb(224, 227, 235);

    --empty-bg-color: rgb(139, 152, 193);
}