/* base */
html {
    scrollbar-color: var(--scrollbar-color);
    overflow-y: scroll;
    font-size: medium;
}

body {
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: inherit;
    line-height: normal;
    font-weight: 500;
    padding-right: 0 !important; /* fix bootstrap modal shit */
    padding-right: 0 !important;
    overflow: unset !important;
}

#background {
    background: var(--background);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#background.blurred {
    filter: var(--background-blurred-filter);
    transform: var(--background-blurred-transform);
}

summary,
select,
.settings-checkbox input,
.settings-checkbox label {
    cursor: pointer;
}

/* header */
header {
    background-color: var(--navbar-bg-color);
    box-shadow: 0 0.125rem 0.25rem var(--header-shadow-color);
    padding-right: 0 !important;  /* fix bootstrap modal shit */
    margin-right: 0 !important;
}

.header {
    max-width: 976px;
    margin: 0 auto 0 0;
    padding: 0;
    font-weight: var(--header-font-weight);
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

.nav-item {
    display: block;
    transition: 0.2s;
}

.offcanvas {
    background-color: var(--navbar-bg-color);
}

.offcanvas-body h5 {
    color: var(--font-color-primary);
    padding: 1rem 0 0 0.5rem;
}

.header-logo {
    opacity: var(--header-logo-opacity);
    padding: var(--header-logo-padding);
    margin-right: 1rem;
    content: var(--header-logo-content);
    transition: none;
    filter: var(--header-logo-content-filter);
}

.header-page-link {
    opacity: 0.8;
    text-decoration: none;
    color: var(--font-color-primary);
    padding: 1.25rem;
    height: 3.5rem;
}

.header-page-link:visited {
    color: var(--font-color-primary);
}

.header-page-link:hover,
.header-button:hover {
    opacity: 1;
    color: var(--font-color-primary);
    background-color: var(--header-btn-hov-bg-color);
}

.header-buttons {
    margin-right: 0;
    margin-left: auto;
}

.header-button {
    border: none;
    background-color: transparent;
    margin: 0;
    opacity: 0.7;
    padding: 1rem;
    height: 3.5rem;
}

@media (max-width: 992px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}

@media (max-width: 991px) {

    #headerOnline {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}


.header-button img,
.navbar-toggler-icon {
    filter: var(--header-btn-img-filter);
}

#toggleStyle img {
    content: var(--header-style-btn-content);
}

.dropdown-menu {
    background-color: var(--navbar-bg-color);
    color: var(--font-color-primary);
    padding: 0;
    border-radius: 10px !important;
    border: 1px solid var(--border);
}

.dropdown-item {
    color: var(--font-color-primary);
    display: inline-flex;
    align-items: center;
}

.dropdown-item img {
    margin-right: 15px;
}

@media (max-width: 992px) {
    .navbar-toggler {
        float: right;
    }

    .header-buttons {
        float: right;
    }

    .navbar-nav {
        border-top: 2px solid var(--header-ul-border-color);
        border-bottom: 2px solid var(--header-ul-border-color);
    }

    .header-page-link {
        padding: 0.75em;
        height: initial;
    }

    .header-online {
        padding: 1.25rem;
        height: 3.5rem;
    }
}

/* settings */
.settings-checkbox {
    color: var(--font-color-primary);
}

.settings-checkbox input {
    margin-top: 0.075rem;
}

.settings-checkbox label {
    display: block;
    font-weight: 400;
}

.settings-checkbox label b {
    font-weight: 600;
}

.theme-radio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
    font-size: small;
    margin: 1em 0;
}

.theme-radio-container img {
    width: 100px;
    height: auto;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.theme-radio-option {
    display: none;
}

.theme-radio-option:checked+.theme-radio-container img {
    border-color: var(--accent-text-color);
}

.form-check-input:checked {
    background-color: var(--check-color);
    border-color: var(--check-color);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem var(--check-focus-color);
}

/* search / sort / settings menu */
.navigation-menu {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: var(--menu-bg-color);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
    border: 1px solid var(--border);
}
.offcanvas-body .navigation-menu {
    padding: 0;
}

.offcanvas-body
{
    padding-top: 0 !important;
}
#filterContent {
    position: sticky;
    top: 4.5rem;
}

.navigation-search input,
.navigation-select select {
    background: no-repeat calc(100% - 0.6rem) center / 1.125rem;
    padding: 0.5rem 2.1rem 0.5rem 0.7rem;
}

.navigation-select select {
    appearance: none;
    background-image: var(--menu-sort-bg-img);
}

.navigation-search input,
#selectPlayerClass,
#selectDungeonRank {
    background-image: var(--menu-search-bg-img);
    border: 1px solid var(--border);
}

.navigation-search input,
.navigation-select select,
.navigation-button button {
    margin: 0.5rem 0;
    border-radius: 6px;
    border: none;
    outline: none;
    color: var(--font-color-primary);
    background-color: var(--menu-child-bg-color);
    font-weight: 450;
    border: 1px solid var(--border);
}

.navigation-search input,
.navigation-select select {
    width: 100%;
    box-sizing: border-box;
}

.navigation-select option {
    background-color: var(--color-option);
}
.navigation-search input::placeholder {
    opacity: 1;
    color: var(--menu-input-plh-color);
}

.navigation-search input:-ms-input-placeholder {
    color: var(--menu-input-plh-color);
}

.navigation-button button {
    padding: 0.44rem 0.7rem;
    transition: 0.2s;
}

.navigation-button button:hover {
    background-color: var(--menu-btn-hov-bg-color);
}

.navigation-button button:active {
    background-color: var(--menu-btn-act-bg-color);
}

.navigation-button button:not(:last-child) {
    margin-right: 10px;
}

.navigation-button img {
    filter: var(--menu-btn-img-filter);
}

#toggleDetails[data-value="true"] img {
    content: url(/static/img/icons/collapse.svg);
}

#toggleDetails[data-value="false"] img {
    content: url(/static/img/icons/expand.svg);
}

.no-transition {
    transition: none !important;
}

.offcanvas-title
{
    color: var(--font-color-primary);
}

.offcanvas-header
{
    padding: 0.5rem 1rem 0.5rem 1.7rem; 
    text-align: center;
}
/* matching main content */
.content {
    margin-top: 1rem;
}

.dungeon-list,
.lfg-list {
    font-size: medium;
}

@media (max-width: 550px) {
    .dungeon-list,
    .lfg-list {
        font-size: 14px;
    }
}

details {
    padding: 0.5em;
    border-radius: 6px;
    border: none;
}

.dungeon-details {
    min-width: 350px;
    margin-bottom: 0.35em;
    padding-bottom: 0em;
    border: none;
    background: var(--dungeon-dtl-bg);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
    border: 1px solid var(--border);
}

.dungeon-details[open] {
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
}

.dungeon-summary {
    display: flex;
    margin: -0.5em -0.5em 0;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 600;
    color: var(--font-color-primary);
    background: var(--dungeon-sum-bg);
}

.dungeon-lvl,
.dungeon-ilvl {
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
    border-radius: 6px;
    background-color: var(--dungeon-lvl-bg-color);
    height: fit-content;
    border: 1px solid var(--border);
}

.dungeon-name {
    margin: 0 0.4em;
    word-break: break-word;
    flex-grow: 1;
    padding: 0.2em;
    z-index: 1;
}

.dungeon-players {
    padding: 0.175em 0.4em;
    border-radius: 6px;
    background-color: var(--dungeon-players-bg-color);
    height: fit-content;
    text-wrap: nowrap;
    border: 1px solid var(--border);
}

.dungeon-role img {
    width: 1.25em;
    height: 1.25em;
    vertical-align: bottom;
}

.dungeon-role-tank {
    content: var(--dungeon-role-tank-content);
    margin: var(--dungeon-role-tank-margin);
}

.dungeon-role-dmg {
    content: var(--dungeon-role-dmg-content);
}

.dungeon-role-heal {
    content: var(--dungeon-role-heal-content);
}

.party-details {
    margin: 0.5em 0;
    padding: 0 0.5em;
    border-radius: 0;
    color: var(--font-color-primary);
}

.party-details[open] .party-summary {
    margin-bottom: 0.4em;
}

.party-summary span:not(:nth-last-child(1)) {
    border-right: solid 2px var(--party-sum-span-border-color);
}

.party-player {
    white-space: nowrap;
    line-height: 1.7;
}

.party-player-icon {
    margin-left: 0.2em;
    /* vertical-align: bottom; */
    width: 1.25em;
    height: 1.25em;
}

.party-detailed-content {
    background-color: var(--party-dtl-content-bg-color);
    padding: 0.6em;
    border-radius: 6px;
    line-height: 2;
    border: 1px solid var(--border);
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* .party-player-detailed-content {
    padding: 0.3em 0.5em;
} */

.party-player-detailed-content td {
    border-spacing: 15px;
}

/* .party-player-info {
    margin-left: 0.5em;
    transition: 0.3s;
}

.party-player-info:hover {
    opacity: 50%;
} */

.party-player-class-icon {
    margin: 0 0.2em 0.2em 0em;
    vertical-align: bottom;
    width: 1.6em;
    height: auto;
    align-items: center;
}

.party-leader {
    content: var(--party-leader-content);
    margin: 0;
    padding: 0 0.1em 0.2em 0.1em;
}

/* .span-content-player a {
    color: var(--accent-text-color) !important;
    color: var(--font-color-primary) !important;
}

.span-content-player {
    transition: 0.3s;
}

.span-content-player:hover {
    opacity: 50%;
} */

/* .itemLevel-icon {
    content: var(--dungeon-role-itlvl-content);
} */

.party-player-item-level,
.party-player-level {
    padding: 0 5px;
    border-radius: 6px;
    background-color: var(--players-tbl-guild-background-color);
    font-size: 0.8rem;
    opacity: 80%;
    border: 1px solid var(--border);
}

/* .party-player-level {} */

.party-player-item-level {
    text-align: center;
    margin:0 0.25em;
}

.party-player-guild {
    margin-left: 5px;
    opacity: 70%;
    font-size: 0.8rem;
    margin-top: 0.3em;
    /* color: var(--accent-text-color); */
}

/* .party-player-info {
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
} */

/* .party-content-scroll {
    display: flex;
    align-items: center;
    gap: 0.3em;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
} */


/* .party-content-scroll::-webkit-scrollbar {
    display: none;
} */

.party-player-name {
    color: var(--font-color-primary);
    text-decoration: none;
    padding: 0 3px 0 0;
    display: block;
    min-width: var(--name-width);
    transition: 0.3s;
}

.party-player-name:hover {
    opacity: 70%;
    color: var(--font-color-primary);
}

.delimiter {
    margin: 0;
    border-bottom: solid 1px var(--party-del-color);
}

/* players table */
#playersTableRoot {
    border: 1px solid var(--border);
    border-collapse: collapse;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.players-table {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    color: var(--font-color-primary);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
}

.player-details {
    height: 2.5rem;
}

.players-table th {
    border: none;
    background-color: var(--players-tbl-th-bg-color);
    font-weight: 600;
}

.players-table td {
    border: none;
}

.players-table td:nth-child(1) {
    font-size: 0.75rem;
    color: var(--font-color-secondary);
    min-width: 2.8rem;
}

.players-table td:nth-child(2),
.players-table td:nth-child(3) {
    min-width: 2.85rem;
}

.players-table th:nth-child(4),
.players-table td:nth-child(4) {
    padding-left: 0.5rem;
}

.players-table td:nth-child(5),
.players-table td:nth-child(6) {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.players-table td:nth-child(1),
.players-table th:nth-child(1) {
    padding: 0.6rem 0.3rem 0.6rem 0.7rem;
}

.players-table td:nth-child(2),
.players-table th:nth-child(2),
.players-table td:nth-child(3),
.players-table th:nth-child(3) {
    padding: 0.6rem 0.3rem 0.6rem 0.4rem;
}

.players-table td:nth-child(-n + 4) {
    width: 0;
}

.players-table tr:nth-child(odd) {
    background: var(--players-tbl-tr1-bg-color);
}

.players-table tr:nth-child(even) {
    background: var(--players-tbl-tr2-bg-color);
    background: var(--players-tbl-tr1-bg-color);
}

.players-table tbody tr {
    position: relative;
}

.players-table tbody tr::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: var(--players-tbl-delimiter);
}

.player-class img {
    width: 1.75rem;
    height: auto;
    margin: auto;
}

.player-name {
    padding-left: 0.4em;
}

.players-table tr a {
    color: var(--font-color-primary);
    text-decoration: none;
    transition: 0.3s;
}

.players-table tr a:hover {
    color: var(--font-color-secondary);
}

.players-table tr a:visited {
    color: var(--font-color-primary);
}

.player-lvl,
.player-itemlvl,
.table-guild-text {
    background-color: var(--players-tbl-tr2-bg-color);
    opacity: 75%;
    border-radius: 10px;
    padding: 2px 10px;
}
.player-lvl,
.player-itemlvl {
    width: 100%;
    text-align: center;
}

/* empty list */
.empty {
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 6px;
    text-align: center;
    color: var(--font-color-primary);
    background-color: var(--empty-bg-color);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
    margin-bottom: 0.5em;
    border: 1px solid var(--border);
}

.empty img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.empty h4 {
    text-wrap: balance;
}

/* lfg */

.lfg-details,
.last-update {
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
    color: var(--font-color-primary);
    border-radius: 6px;
    border: 1px solid var(--border);
}

.lfg-message,
.lfg-player-count,
.lfg-leader-name {
    font-weight: 600;
}

.lfg-leader-name,
.warning-update,
.last-update {
    font-size: 0.95em;
}

.update-text,
.warning-update {
    opacity: 60%;
}

.lfg-details {
    padding: 0.5em 1.1em;
    background: var(--dungeon-dtl-bg);
    margin-bottom: 0.5em;
}

.lfg-message {
    margin: 0 0.4em;
    padding: 0.2em;
    /* max-width: 100%; */
    word-break: break-word;
    flex-grow: 1;
    display: inline-block;
}

.lfg-player-count {
    padding: 0.175em 0.4em;
    border-radius: 6px;
    background-color: var(--dungeon-lvl-bg-color);
    height: fit-content;
    text-wrap: nowrap;
    border: 1px solid var(--border);
    margin-left: auto
}

.lfg-summary {
    width: 100%;
    margin-bottom: 0.3em;
    display: flex;
}

.lfg-leader-name {
    padding: 0 0.4em;
    margin: 0.3em;
    opacity: 70%;
    font-weight: 500;
    word-break: break-word;
    white-space: normal;
    display: block;
}

.last-update {
    padding: 1em;
    text-align: center;
    background-color: var(--menu-bg-color);
}

.last-update::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.7;
    z-index: -1;
    border-radius: 6px;
}

.out-update-time {
    text-align: center;
}

.update-time {
    color: var(--accent-text-color);
}

.warning-update {
    padding-top: 0.5em;
    font-style: italic;
    font-size: 0.8em;
}

.detailed-player {
    /* padding: 0.6em 1em; */
    margin: 0.6em;
    border-radius: 6px;
}

/* chart */
.card {
    background-color: var(--empty-bg-color);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
    padding: 1.5rem 1rem;
}

@media (min-width: 992px) {
    .menu-content {
        max-width: 330px;
    }

    .content {
        max-width: 660px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }

    .col-md-10 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .header {
        padding-right: var(--bs-gutter-x, 0.75rem);
    }
}

/* modal */
.modal {
    padding-right: 0 !important; /* fix bootstrap modal shit */
}

.modal-dialog {
    margin-top: 4em;
    border-radius: 6px;
}

.modal-header {
    border-bottom: 2px solid var(--header-ul-border-color);
    padding: 1rem 1.5rem;
}

.modal-header h5 {
    margin: 0;
}

.modal-body {
    padding: 0 1.5rem;
}

.close-button {
    background: none;
    border: none;
    padding: 0;
    opacity: 50%;
}

.close-button img {
    content: var(--close-button-content);
}

.modal-delimiter {
    border-bottom: 2px solid var(--header-ul-border-color);
}

.modal-sections {
    padding: 1rem 0;
}

.modal-sections-title {
    opacity: 60%;
}

.modal-sections-body > * {
    margin-bottom: 10px;
}

.modal-button {
    background: none;
    border: none;
    padding: 0;
    color: var(--font-color-primary);
}

.lang-title {
    color: var(--accent-text-color);
    background-color: var(--accent-background-color);
    padding: 2px 5px;
    border-radius: 6px;
    line-height: 2em;
    transition: 0.3s;
}

.lang-title:hover
{
    filter: brightness(1.1);
}

.filteredEmpty .lang-title
{
    font-weight: 700;
    padding: 0.5em 2em;
}

.filteredEmpty .modal-button
{
    margin: 1em 0;
}

.dungeon-rank {
    position: relative;
}

.dungeon-rank img {
    filter: var(--dungeon-rank-img-filter);
    height: 2.75em;
    margin: -0.5em 0;
    opacity: var(--rank-opacity);
    position: absolute;
    right: 0.2em;
}

.dungeon-rank-1 {
    content: var(--dungeon-rank-1-content);
}
.dungeon-rank-2 {
    content: var(--dungeon-rank-2-content);
}
.dungeon-rank-3 {
    content: var(--dungeon-rank-3-content);
}
.dungeon-rank-4 {
    content: var(--dungeon-rank-4-content);
}
.dungeon-rank-5 {
    content: var(--dungeon-rank-5-content);
}

@media (max-width: 992px) {
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
    }

    .modal-body {
        overflow-y: auto;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin: 0;
        height: 100%;
       
    }
    
    .modal-content
    {
        border-radius: 0 !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        width: 100%;
        max-width: none;
    }
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 83.33333333%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 660px;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 660px;
    }
}

@media (max-width: 991px) {

    .navigation-menu {
        background-color: none !important;
        border: none !important;
    }

    .navigation-search input,
    .navigation-select select,
    .navigation-button button {
        border: none !important;
    }
}