/* base */
html {
    scrollbar-color: var(--scrollbar-color);
    overflow-y: scroll;
    font-size: medium;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
    line-height: normal;
    font-weight: 500;
}

#background {
    background: var(--background);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

summary,
select,
.navigation-checkbox input,
.navigation-checkbox label {
    cursor: pointer;
}

/* header */
header {
    background-color: var(--navbar-bg-color);
    box-shadow: 0 0.125rem 0.25rem var(--header-shadow-color);
}

.header {
    max-width: 976px;
    margin: 0 auto 0 0;
    padding: 0;
    font-weight: var(--header-font-weight);
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

.nav-item {
    display: block;
    transition: 0.2s;
}

.offcanvas {
    background-color: var(--navbar-bg-color);
}

.header-logo {
    opacity: var(--header-logo-opacity);
    padding: var(--header-logo-padding);
    margin-right: 1rem;
    content: var(--header-logo-content);
    transition: none;
}

.header-page-link {
    opacity: 0.8;
    text-decoration: none;
    color: var(--font-color-primary);
    padding: 1.25rem;
    height: 3.5rem;
}

.header-page-link:visited {
    color: var(--font-color-primary);
}

.header-page-link:hover,
.header-button:hover {
    opacity: 1;
    color: var(--font-color-primary);
    background-color: var(--header-btn-hov-bg-color);
}

.header-buttons {
    margin-right: 0;
    margin-left: auto;
}

.header-button {
    border: none;
    background-color: transparent;
    margin: 0;
    opacity: 0.7;
    padding: 1rem;
    height: 3.5rem;
}

.header-button img,
.navbar-toggler-icon {
    filter: var(--header-btn-img-filter);
}

#toggleStyle img {
    content: var(--header-style-btn-content);
}

.dropdown-menu {
    background-color: var(--navbar-bg-color);
    color: var(--font-color-primary);
}

.dropdown-item {
    color: var(--font-color-primary);
    display: inline-flex;
    align-items: center;
}

.dropdown-item img {
    margin-right: 15px;
}


@media (max-width: 992px) {
    .navbar-toggler {
        float: right;
    }

    .header-buttons {
        float: right;
    }

    .navbar-nav {
        border-top: 2px solid var(--header-ul-border-color);
        border-bottom: 2px solid var(--header-ul-border-color);
    }

    .header-page-link {
        padding: 0.75em;
        height: initial;
    }

    .header-online {
        padding: 1.25rem;
        height: 3.5rem;
    }
}

/* search / sort / settings menu */
.navigation-menu {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--menu-bg-color);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
}

#navigationMenu {
    position: sticky;
    top: 4.5rem;
}

.navigation-search input,
.navigation-select select {
    background: no-repeat calc(100% - 0.6rem) center / 1.125rem;
    padding: 0.5rem 2.1rem 0.5rem 0.7rem;
}

.navigation-select select {
    appearance: none;
    background-image: var(--menu-sort-bg-img);
}

.navigation-search input,
#selectPlayerClass {
    background-image: var(--menu-search-bg-img);
}

.navigation-search input,
.navigation-select select,
.navigation-button button {
    margin: 0.5rem 0;
    border-radius: 4px;
    border: none;
    outline: none;
    color: var(--font-color-primary);
    background-color: var(--menu-child-bg-color);
    font-weight: 450;
}

.navigation-search input,
.navigation-select select {
    width: 100%;
    box-sizing: border-box;
}

.navigation-search input::placeholder {
    opacity: 1;
    color: var(--menu-input-plh-color);
}

.navigation-search input:-ms-input-placeholder {
    color: var(--menu-input-plh-color);
}

.navigation-button button {
    padding: 0.44rem 0.7rem;
    transition: 0.2s;
}

.navigation-button button:hover {
    background-color: var(--menu-btn-hov-bg-color)
}

.navigation-button button:active {
    background-color: var(--menu-btn-act-bg-color)
}

.navigation-button button:not(:last-child) {
    margin-right: 10px;
}

.navigation-button img {
    filter: var(--menu-btn-img-filter);
}

.navigation-checkbox {
    margin-top: 1rem;
    color: var(--font-color-primary);
}

.navigation-checkbox div {
    margin-top: 0.5rem;
}

.navigation-checkbox input {
    background-color: var(--menu-chk-bg-color);
    margin-top: 0.075rem;
}

.navigation-checkbox label {
    display: block;
}

.navigation-checkbox label b {
    font-weight: 600;
}

.no-transition {
    transition: none !important;
}

/* matching main content */
.content {
    margin-top: 1rem;
}

.dungeon-list {
    font-size: medium;
}

@media (max-width: 550px) {
    .dungeon-list {
        font-size: 14px;
    }
}

details {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

.dungeon-details {
    min-width: 350px;
    margin-bottom: 0.35em;
    padding-bottom: 0em;
    border: none;
    background: var(--dungeon-dtl-bg);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
}

.dungeon-details[open] {
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
}

.dungeon-summary {
    display: flex;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 600;
    color: var(--font-color-primary);
    background: var(--dungeon-sum-bg);
}

.dungeon-lvl,
.dungeon-ilvl {
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    background-color: var(--dungeon-lvl-bg-color);
    height: fit-content;
}

.dungeon-name {
    margin: 0 0.4em;
    word-break: break-word;
    flex-grow: 1;
    padding: 0.2em;
}

.dungeon-players {
    padding: 0.175em 0.4em;
    border-radius: 4px;
    background-color: var(--dungeon-players-bg-color);
    height: fit-content;
    text-wrap: nowrap;
}

.dungeon-role img {
    width: 1.25em;
    height: 1.25em;
    vertical-align: bottom;
}

.dungeon-role-tank {
    content: var(--dungeon-role-tank-content);
    margin: var(--dungeon-role-tank-margin);
}

.dungeon-role-dmg {
    content: var(--dungeon-role-dmg-content);
}

.dungeon-role-heal {
    content: var(--dungeon-role-heal-content);
}

.party-details {
    margin: 0.5em 0;
    padding: 0 1em;
    border-radius: 0;
    color: var(--font-color-primary);
}

.party-details[open] .party-summary {
    margin-bottom: 0.4em;
}

.party-summary span:not(:nth-last-child(1)) {
    border-right: solid 2px var(--party-sum-span-border-color);
}

.party-player {
    padding: 0 0.5em;
    white-space: nowrap;
}

.party-player-icon {
    margin-left: 0.2em;
    vertical-align: bottom;
    width: 1.25em;
    height: 1.25em;
}

.party-detailed-content {
    background-color: var(--party-dtl-content-bg-color);
    padding: 0.3em 0;
    border-radius: 4px;
}

.party-player-detailed-content {
    padding: 0.3em 0.5em;
}

.party-player-info {
    margin-left: 0.5em;
}

.party-player-class-icon {
    margin: -0.13em 0.2em -0.13em 0.5em;
    vertical-align: bottom;
    width: 1.5em;
    height: auto;
}

.party-leader {
    content: var(--party-leader-content);
    margin: 0;
    padding: 0 0.1em 0.2em 0.1em;
}

.delimiter {
    margin: 0;
    border-bottom: solid 1px var(--party-del-color);
}

/* players table */
.players-table {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    color: var(--font-color-primary);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
}

.player-details {
    height: 2.5rem;
}

.players-table th {
    border: none;
    background-color: var(--players-tbl-th-bg-color);
    font-weight: 600;
}

.players-table td {
    border: none;
}

.players-table td:nth-child(1) {
    font-size: 0.75rem;
    color: var(--font-color-secondary);
    min-width: 2.8rem;
}

.players-table td:nth-child(2) {
    min-width: 2.85rem;
}

.players-table th:nth-child(3),
.players-table td:nth-child(3) {
    padding-left: 0.5rem;
}

.players-table td:nth-child(4) {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.players-table td:nth-child(-n+2),
.players-table th:nth-child(-n+2) {
    padding: 0.6rem 0.3rem 0.6rem 0.7rem;
}

.players-table td:nth-child(-n+3) {
    width: 0;
}

.players-table tr:nth-child(odd) {
    background-color: var(--players-tbl-tr1-bg-color);
}

.players-table tr:nth-child(even) {
    background-color: var(--players-tbl-tr2-bg-color);
}

.player-class img {
    width: 1.75rem;
    height: auto;
    margin: auto;
}

.players-table tr a {
    color: var(--font-color-primary);
    text-decoration: none;
    transition: 0.3s;
}

.players-table tr a:hover {
    color: var(--font-color-secondary);
}

.players-table tr a:visited {
    color: var(--font-color-primary);
}

.table-guild-text {
    background-color: var(--players-tbl-guild-background-color);
    border-radius: 15px;
    padding: 2px 10px;
}

/* empty list */
.empty {
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 5px;
    text-align: center;
    color: var(--font-color-primary);
    background-color: var(--empty-bg-color);
    backdrop-filter: var(--bg-backdrop-filter);
    -webkit-backdrop-filter: var(--bg-backdrop-filter);
}

.empty img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

/* chart */
.card {
    background-color: var(--empty-bg-color);
    backdrop-filter: var(--bg-backdrop-filter);
    padding: 1.5rem 1rem;
}

@media (min-width: 992px) {
    .menu-content {
        max-width: 330px;
    }

    .content {
        max-width: 660px;
    }

    .modal-dialog {
        /* min-width: 900px; */
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }

    .col-md-10 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .header {
        padding-right: var(--bs-gutter-x, .75rem);
    }
}

/* modal */
body.modal-open {
    padding-right: 0 !important;
}

.modal {
    padding-right: 0 !important;

}

.modal-dialog {
    margin-top: 4em;
    /* border: 1px solid rgba(255, 255, 255, 0.212); */
    border-radius: 5px;
}

.modal-header {
    border-bottom: 2px solid var(--header-ul-border-color);
}

.but-close {
    background: none;
    border: none;
    padding: 0;
    opacity: 50%;
}

.modal-delimiter {
    border-bottom: 2px solid var(--header-ul-border-color);
}

.modal-sections {
    padding: 0.7em 0 1.5em;
}

.modal-sections-title {
    opacity: 60%;
}

.modal-button {
    background: none;
    border: none;
    padding: 0;
    color: var(--font-color-primary);
}

.modal-sections-body .form-check {
    margin-top: 10px;
}

.lang-title {
    color: var(--lang-title);
}

.form-check-label {
    font-weight: 400;
}

@media (max-width: 992px) {
    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }

    .modal-content {
        height: 100%;
        border-radius: 0;
    }

    .modal-body {
        overflow-y: auto;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 660px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 660px;
    }
}

@media (max-width: 991.98px) {
    .modal-dialog {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}