:root {
    --font-color-primary: rgb(225, 225, 225);
    --font-color-secondary: rgba(255, 255, 255, 0.5);
   
    --scrollbar-color: rgb(23, 24, 32) rgb(7, 8, 10);
    --background: center/cover no-repeat url('/static/img/bgs/background.png');
    --background-disabled:  rgb(55, 77, 90);
    --bg-backdrop-filter: blur(7px);

    --navbar-bg-color: rgb(23, 24, 32);
    --header-font-weight: inherit;
    --header-logo-opacity: 0.8;
    --header-logo-padding: 0.5rem;
    --header-logo-content: url(/static/img/icons/icon.svg);
    --header-btn-hov-bg-color: rgb(7, 8, 10);
    --header-btn-img-filter: none;
    /* --header-ul-border-color: rgba(0, 0, 0, 0.3); */
    --header-ul-border-color: rgba(116, 116, 116, 0.1);
    --header-shadow-color: rgba(0, 0, 0, 0.075);
    --header-style-btn-content: url(/static/img/icons/theme_sun.svg);

    --close-button-content: url(/static/img/icons/close-l.svg);

    --menu-bg-color: rgba(23, 24, 32, 0.7);
    --menu-child-bg-color: rgb(46, 52, 65, 0.75);
    --menu-input-plh-color: rgba(255, 255, 255, 0.6);
    --menu-btn-hov-bg-color: rgba(35, 37, 48, 0.7);
    --menu-btn-act-bg-color: rgba(23, 24, 32, 0.6);
    --menu-btn-img-filter: none;
    --menu-chk-bg-color: white;
    --menu-search-bg-img: url(/static/img/icons/search-l.svg);
    --menu-sort-bg-img: url(/static/img/icons/sort-l.svg);

    --dungeon-lvl-bg-color: rgb(23, 24, 32);
    --dungeon-players-bg-color:  rgb(23, 24, 32);
    --dungeon-dtl-bg: linear-gradient(to right, rgba(38, 63, 32, 0.8), rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.8));
    --dungeon-sum-bg: linear-gradient(to right, rgb(38, 63, 32), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 1));
    --dungeon-role-tank-content: url(/static/img/icons/tank.svg);
    --dungeon-role-tank-margin: initial;
    --dungeon-role-dmg-content: url(/static/img/icons/dmg.svg);
    --dungeon-role-heal-content: url(/static/img/icons/heal.svg);

    --party-sum-span-border-color: rgb(255, 255, 255, 0.3);
    --party-dtl-content-bg-color: rgba(0, 0, 0, 0.2);
    --party-del-color: rgb(255, 255, 255, 0.15);
    --party-leader-content: url(/static/img/icons/leader.svg);

    --players-tbl-th-bg-color: rgba(23, 24, 32, 0.9);
    /* --players-tbl-tr1-bg-color: rgba(23, 24, 32, 0.7); */
    --players-tbl-tr1-bg-color: rgba(23, 24, 32, 0.6);
    /* --players-tbl-tr2-bg-color: rgba(66, 80, 63, 0.7); */
    --players-tbl-tr2-bg-color: rgba(0, 0, 0, 0.4);
    --players-tbl-guild-background-color: rgb(23, 24, 32);

    --accent-text-color: rgb(105, 150, 93);
    --accent-background-color: rgba(63, 88, 56, 0.445);

    --players-tbl-delimiter: rgba(0, 0, 0, 0.2);
    --empty-bg-color: rgba(23, 24, 32, 0.7);
}