:root {
    --font-color-primary: white;
    --font-color-secondary: rgba(255, 255, 255, 0.5);

    --scrollbar-color: rgb(23, 24, 32) rgb(7, 8, 10);
    --background: center/cover no-repeat url('/static/img/bgs/background.png');
    --bg-backdrop-filter: blur(7px);

    --navbar-bg-color: rgb(23, 24, 32);
    --header-btn-border-color: rgba(255, 255, 255, 0.1);
    --header-btn-hov-bg-color: rgb(7, 8, 10);
    --header-shadow-color: rgba(0, 0, 0, 0.075);

    --menu-bg-color: rgba(23, 24, 32, 0.7);
    --menu-child-bg-color: rgb(46, 52, 65, 0.75);
    --menu-input-plh-color: rgba(255, 255, 255, 0.6);
    --menu-btn-hov-bg-color: rgba(35, 37, 48, 0.7);
    --menu-btn-act-bg-color: rgba(23, 24, 32, 0.6);
    --menu-btn-img-filter: none;
    --menu-chk-bg-color: white;
    --menu-search-bg-img: url(/static/img/icons/search-l.svg);
    --menu-sort-bg-img: url(/static/img/icons/sort-l.svg);

    --dungeon-lvl-bg-color: rgb(18, 18, 18);
    --dungeon-players-bg-color: rgb(18, 18, 18);
    --dungeon-dtl-bg: linear-gradient(to right, rgba(38, 63, 32, 0.8), rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.8));
    --dungeon-sum-bg: linear-gradient(to right, rgb(38, 63, 32), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 1));
    --dungeon-role-tank-content: url(/static/img/icons/tank.svg);
    --dungeon-role-tank-margin: initial;
    --dungeon-role-dmg-content: url(/static/img/icons/dmg.svg);
    --dungeon-role-heal-content: url(/static/img/icons/heal.svg);

    --party-sum-span-border-color: rgb(255, 255, 255, 0.3);
    --party-dtl-content-bg-color: rgba(0, 0, 0, 0.2);
    --party-del-color: rgb(255, 255, 255, 0.15);
    --party-leader-content: url(/static/img/icons/leader.svg);

    --players-tbl-th-bg-color: rgba(23, 24, 32, 0.9);
    --players-tbl-tr1-bg-color: rgba(23, 24, 32, 0.7);
    --players-tbl-tr2-bg-color: rgba(66, 80, 63, 0.7);
    --players-class-img-filter: none;

    --empty-bg-color: rgba(23, 24, 32, 0.7);
}