html
{
    scrollbar-color: rgb(23, 24, 32) rgb(7, 8, 10);
    font-family: 'Montserrat', sans-serif;
}

body
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/img/bgs/background.png');
}

/**********************
    Стили для header 
**********************/

header
{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    font-family: 'Montserrat', sans-serif;
}

.navbar
{
    background-color: rgb(23, 24, 32);
}

.nav-item 
{
    margin-right: 1.5em;
    padding: 0.5em;
    border-radius: 5px;
}

.header-button:hover
{
    background-color: rgb(7, 8, 10);
}

.toggleLang
{
    background: none;
    border: none;
}

.CountOnline
{ 
    padding: 0.5em;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 52, 65);
}

.nav-item
{
    transition:0.3s;
}

.nav-item a,.nav-item p
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-item a:hover
{
    color: rgb(255, 255, 255);
}

.nav-item:visited
{
    color: rgb(255, 255, 255);
}

.navbar-nav
{
    display: flex;
}

/**********************
    Панель с фильтрами и сортировкой
**********************/

.toggleDetails:hover, .clearNavigation:hover
{
    background-color: rgba(23, 24, 32, 0.6)
}

.toggleDetails, .clearNavigation
{
    transition: 0.3s;
}

#searchLevel::placeholder,
#searchName::placeholder,
#searchMinLevel::placeholder,
#searchMinItemLevel::placeholder 
{ 
    opacity: 1; 
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat', sans-serif;
}

#searchLevel:-ms-input-placeholder,
#searchName:-ms-input-placeholder,
#searchMinLevel:-ms-input-placeholder,
#searchMinItemLevel:-ms-input-placeholder
{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat', sans-serif;
}

#searchLevel:-ms-input-placeholder,
#searchName::-ms-input-placeholder,
#searchMinLevel::-ms-input-placeholder,
#searchMinItemLevel::-ms-input-placeholder
{ 
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat', sans-serif;
}

.navigation
{ 
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
    padding: 1em 0 1em 1em;
    border-radius: 5px;
    background-color: rgba(23, 24, 32, 0.7);
}

#navigationSearch
{
    position: sticky;
    top: 0;
}

#autoupdateCheck + label, #saveCollapsed +label, #mergeSupportMatching+label
{
    display: inline;
}

.navigation-search input, .navigation-menu select, .navigation-menu button, .sort, 
.clearNavigation, .searchName, .searchLevel
{   
    margin: 0.5em 0;
    padding: 0.5em 0.7em;
    border-radius: 4px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 52, 65,0.75);
}

select#sort 
{
    background-color: rgb(46, 52, 65); /* Замените #yourColor на цвет, который вы хотите использовать */
}

.navigationCheckbox input
{
    background-color: rgba(255, 255, 255);
}

.navigationCheckbox
{
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.SpanAutoupdateCheck
{
    color: white;
}

.navigation-search input, .sort
{
    width: 100%;
    box-sizing: border-box;
}

#toggleDetails:not(:last-child), #clearNavigation:not(:last-child)
{
    margin-right: 10px;
}

/**********************
    Основной контент
**********************/

/* Тело блока */
details
{   
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

details[open]
{
    margin-bottom: 0.5em;
}

/* Уровень подземелья и снаряжения */
.dungeon-lvl, .dungeon-ilvl
{
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    background-color: rgb(18, 18, 18);
}

/* Счетчик :танк дд хил */
.dungeon-players
{
    margin: 0 0.2em;
    padding: 0 0.3em;
    border-radius: 4px;
    float:right;
    font-weight:800;
    background-color: rgb(18, 18, 18);
}

/* Название */
.dungeon-name
{
    margin: 0.3em 1.2em;
    word-break:normal;
}

/* "Шапка" с основной информацией */
.dungeon-summary
{
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-image: linear-gradient(to right, rgb(38, 63, 32), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32, 0.7), rgba(23, 24, 32,0.7), rgba(23, 24, 32, 1));
}
    
.dungeon-details
{
    min-width: 350px;
    margin-bottom: 0.25em;
    padding-bottom: 0.1em;
    border: none;
    background-image: linear-gradient(to right, rgba(38, 63, 32, 0.8), rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.6), rgba(23, 24, 32, 0.8));
}

/* Содержание */
.party-details
{ 
    margin: 0.25em 0;
    padding: 0.25em 1em 0 1em;
    border-radius: 0;
    color: #ffffff;
} 

/* Разделительная линия между группами */
.delimiter
{
    margin: 0.5em 0;
    border-bottom: solid 1px rgb(255, 255, 255, 0.2);
}

/* Игрок */
.party-player
{
    margin: 0.1em 0.4em 0.2em 0;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    white-space: nowrap;
    border: solid 1px rgba(255, 255, 255, 0.5);
}

/* Группа: Описание состава группы */
.party-detailed-content
{
    margin:0.5em 0;
    color: #ffffff;
} 

.party-detailed-content p
{
    margin-bottom: 0;
    margin-left: 0.3em;
}

/* Группа: Иконки класса и уровень игрока  */
.party-player-summary
{
    margin-right: 0.5em;
    padding: 0 0.1em;
    border-radius: 2px;
    background-color: rgba(18, 18, 18, 0.6);
}

.ClassImg,.party-playerIm
{
    margin-bottom: 0.2em;
}

.leader_img
{
    float: bottom;
}

/**********************
   Таблица
**********************/

.TablePlayers table

{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 1em 0;
    border-radius: 5px; 
    border: none;
    overflow: hidden; 
    color: white;
}

.TablePlayers table th
{ 
    border: none;
    background-color: rgba(23, 24, 32, 0.9);
}

.TablePlayers td
{
    border: none;
}

.TablePlayers td:nth-child(1)
{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.TablePlayers td:nth-child(-n+3)
{ 
    width: 1em;
}

/* -n+2 - первые два элем. */
.TablePlayers table tbody td:nth-child(-n+2), 
.TablePlayers table thead th:nth-child(-n+2)
{
    padding: 0.7em;
}

.TablePlayers table tbody tr:nth-child(odd) td
{
    background-color: rgba(23, 24, 32, 0.7);
}

.TablePlayers table tbody tr:nth-child(even) td
{
    background-color: rgba(66, 80, 63, 0.7);
}

/**********************
    Пустой подбор
**********************/
.empty
{
    margin-top: 1em;
    padding: 2em;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgba(23, 24, 32, 0.7);
    
}
.EmptyContent
{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}