<% const onlineStr = (typeof online === 'undefined' || online == null) ? '' : ': ' + online %>
<a class="nav-item header-online header-page-link" href="/online"><%= strings.onlineHeaderLinkContent + onlineStr %></a>